<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/old_games.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <%- include("./views/inc/navbar.ejs") %>
    <h1>Home</h1>
    <h2><a href="#">Créer une partie</a></h2>
    <section id="waiting-games">
        <h2>Parties en attentes : </h2>
    </section>
    <section id="playing-games">
        <h2>Parties en cours : </h2>
    </section>
    <section id="bot-games">
        <h2>Bots : </h2>
        <section id="stockfish-games">
            <h3><a href="#">Affronter Stockfish</a></h3>
            <p><a href="https://github.com/official-stockfish/Stockfish" target="_blank">Voir le code source</a></p>
        </section>
    </section>
    <section id="last-games">
        <h2>Dernières parties :</h2>
            <% games.forEach(game => { %>
                <div class="old-game">
                    <!-- players and the colors they played -->
                    <h2><span><%=game.white_player || "Anonyme"%></span> avec les blancs contre <span><%=game.black_player || "Anonyme"%></span> avec les noirs</h2>
                    <% if (game.winner=="white") { %>
                        <!--if white victory-->
                        <h3>Victoire de <span><%=game.white_player || "Anonyme"%></span> avec les blancs par <%=game.status%>.</h3>
                    <% } else if (game.winner=="black") { %>
                        <!--if black victory-->
                        <h3>Victoire de <span><%=game.black_player || "Anonyme"%></span> avec les noirs par <%=game.status%>.</h3>
                    <% } else if (game.winner=="draw") { %>
                        <!--if draw-->
                        <h3>matche nulle <span> <%=game.status%>.</h3>
                    <% } %>
                    <!-- date of the game -->
                    <h3>Le <%=game.date%></h3>
                    <!-- pgn -->
                    <p><%=game.pgn%></p>
                </div>
            <% }) %>
        <h3 id="see-more-link"><a href="./old_games">See more</a></h3>
    </section>
    <script type="module" src="../js/home.mjs"></script>
</body>
</html>
