<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/old_games.css">
</head>
<body>
    <%- include("./views/inc/navbar.ejs") %>
    <h1>Home</h1>
    <h2 class="launch-game"><img class="icons" src="./img/create.svg"><a href="#">Create a Game</a></h2>
    <h2 class="launch-game"><img class="icons" src="./img/stockfish_logo.png"><a href="#">Play against Stockfish</a></h2>
    <section id="waiting-games">
        <h2>Join Games : </h2>
    </section>
    <section id="playing-games">
        <h2>Watch Games : </h2>
    </section>
    <section id="last-games">
        <h2>Last Games :</h2>
            <% games.forEach(game => { %>
              <div class="old-game">
                <!-- players and the colors they played -->
                <% if (game.winner=="white") { %>
                <!--if white victory-->
                <h2>Victory of <span><%=game.white_player || "Anonyme"%></span> with white against <span><%=game.black_player || "Anonyme"%></span> by <%=game.status%>.</h2>
                <% } else if (game.winner=="black") { %>
                <!--if black victory-->
                <h2>Victory of <span><%=game.black_player || "Anonyme"%></span> with black against <span><%=game.white_player || "Anonyme"%></span> by <%=game.status%>.</h2>
                <% } else if (game.winner=="draw") { %>
                <!--if draw-->
                <h2>draw between <span><%=game.white_player || "Anonyme"%></span> with white against <span><%=game.black_player || "Anonyme"%></span> by <%=game.status%>.</h2>
                <% } %>
            <!-- date of the game -->
                <h3><%=game.date%></h3>
            <!-- pgn -->
                <p><%=game.pgn%></p>
              </div>
            <% }) %>
        <h3 id="see-more-link"><a href="./old_games">See more</a></h3>
    </section>
    <script type="module" src="../js/home.mjs"></script>
</body>
</html>
