<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/old_games.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body id="old-games-page">
    <%- include("./views/inc/navbar.ejs") %>
    <h1 id="old-games-header">Liste des parties jouées</h1>
    <% games.forEach(game => { %>
        <!-- players and the colors they played -->
        <div class="old-game">
            <!--if white victory-->
            <% if (game.winner=="white") { %>
                <!--if white has elo -->
                <% if (game.white_elo) { %>
                    <h2>Victory of <span><%= game.white_player %></span> (<span><%= game.white_elo %></span>) with white
                <!--if white has no elo -->
                <% }else { %>
                    <h2>Victory of <span><%= game.white_player || "Anonymous" %></span> with white
                <!--if black has elo -->
                <% }if (game.black_elo) { %>
                against <span><%= game.black_player %></span> (<span><%= game.black_elo %></span>) by <%=game.status%>.</h2>
                <!--if black no elo -->
                <% }else { %>
                    against <span><%=game.black_player || "Anonymous"%></span> by <%=game.status%>.</h2>
                <% } %>
            <!--if black victory-->
            <% } else if (game.winner=="black") { %>
                <!--if black has elo -->
                <% if (game.black_elo) { %>
                    <h2>Victory of <span><%= game.black_player %></span> (<span><%= game.black_elo %></span>) with black
                <!--if black has no elo -->
                <% }else { %>
                    <h2>Victory of <span><%= game.black_player || "Anonymous" %></span> with black
                <!--if white has elo -->
                <% }if (game.white_elo) { %>
                against <span><%= game.white_player %></span> (<span><%= game.white_elo %></span>) by <%=game.status%>.</h2>
                <!--if white no elo -->
                <% }else { %>
                    against <span><%=game.white_player || "Anonymous"%></span> by <%=game.status%>.</h2>
                <% } %>
            <!--if draw -->
            <% } else { %>
                <!--if white has elo -->
                <% if (game.white_elo) { %>
                    <h2>Draw between <span><%= game.white_player %></span> (<span><%= game.white_elo %></span>) with white
                <!--if white has no elo -->
                <% }else { %>
                    <h2>Victory of <span><%= game.white_player || "Anonymous" %></span> with white
                <!--if black has elo -->
                <% }if (game.black_elo) { %>
                and <span><%= game.black_player %></span> (<span><%= game.black_elo %></span>) by <%=game.status%>.</h2>
                <!--if black no elo -->
                <% }else { %>
                    and <span><%=game.black_player || "Anonymous"%></span> by <%=game.status%>.</h2>
                <% } %>
            <% } %>
            <!-- date of the game -->
            <h3><%=game.date%></h3>
            <!-- pgn -->
            <p><%=game.pgn%></p>
        </div>
    <% }) %>
</body>
</html>
