<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/old_games.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body id="old-games-page">
    <%- include("./views/inc/navbar.ejs") %>
    <h1 id="old-games-header">Liste des parties jouées</h1>
    <% games.forEach(game => { %>
        <div class="old-game">
            <!-- players and the colors they played -->
            <% if (game.winner=="white") { %>
                <!--if white victory-->
            <h2>Victory of <span><%=game.white_player || "Anonyme"%></span> with white against <span><%=game.black_player || "Anonyme"%></span> by <%=game.status%>.</h2>
            <% } else if (game.winner=="black") { %>
                <!--if black victory-->
            <h2>Victory of <span><%=game.black_player || "Anonyme"%></span> with black against <span><%=game.white_player || "Anonyme"%></span> by <%=game.status%>.</h2>
            <% } else if (game.winner=="draw") { %>
                <!--if draw-->
            <h2>draw between <span><%=game.white_player || "Anonyme"%></span> with white against <span><%=game.black_player || "Anonyme"%></span> by <%=game.status%>.</h2>
            <% } %>
            <!-- date of the game -->
            <h3><%=game.date%></h3>
            <!-- pgn -->
            <p><%=game.pgn%></p>
        </div>
    <% }) %>
</body>
</html>
